*/log/*
*/logs/*
logs/*
log
*.pyc*
.idea
*__pycache__*
config/*
config/
*ilog*
*dlog*
*elog*
rhc
/test/simulation/*
robinhood_history/*
history
history/*
.idea/*
.idea/workspace.xml
*.osdt
/osdt_example/objfiles/files/*
*.pyc
Open_Source_Dynamics_Toolbox.egg-info
*/osdt/*

osdt/*